In [5]:
import pandas as pd

# Create a dictionary with country names, populations in millions, and capitals
data = {
    'Country': ['USA', 'Canada', 'Germany', 'Brazil', 'Japan',
                'Australia', 'India', 'Russia'],
    'Population (M)': [331, 38, 84, 213, 126, 
                       25, 1380, 146, ],
    'Capital': ['Washington, D.C.', 'Ottawa', 'Berlin', 'Brasília', 'Tokyo',
                'Canberra', 'New Delhi', 'Moscow']
}

# Create the DataFrame
brics = pd.DataFrame(data)

# Display the DataFrame
print(brics)

     Country  Population (M)           Capital
0        USA             331  Washington, D.C.
1     Canada              38            Ottawa
2    Germany              84            Berlin
3     Brazil             213          Brasília
4      Japan             126             Tokyo
5  Australia              25          Canberra
6      India            1380         New Delhi
7     Russia             146            Moscow

In [7]:
brics.index=['USA', 'CAN', 'DEU', 'BR', 'JPN',
                   'AUS', 'IND', 'RUS']
brics

       Country  Population (M)           Capital
USA        USA             331  Washington, D.C.
CAN     Canada              38            Ottawa
DEU    Germany              84            Berlin
BR      Brazil             213          Brasília
JPN      Japan             126             Tokyo
AUS  Australia              25          Canberra
IND      India            1380         New Delhi
RUS     Russia             146            Moscow

In [9]:
# DataFrame from CSV (comma separated values) file

In [11]:
# Creating a CSV File: Use DataFrame.to_csv()
# Reading a CSV File: Use pd.read_csv().
# Saving Changes: Use DataFrame.to_csv() again to save any updates.

In [27]:
# Create a DataFrame
data = {
    'Country': ['United States', 'Canada', 'Germany', 'Brazil', 'Japan',
                'Australia', 'India'],
    'Population (M)': [331, 38, 84, 213, 126, 
                       25, 1380],
    'Capital': ['Washington, D.C.', 'Ottawa', 'Berlin', 'Brasília', 'Tokyo',
                'Canberra', 'New Delhi',]
}
# Create the DataFrame
df = pd.DataFrame(data)
df.index=['USA', 'CAN', 'DEU', 'BR', 'JPN',
                   'AUS', 'IND']
# Save the DataFrame to a CSV file
df.to_csv('countries.csv')

# Read the CSV file into a DataFrame
df_from_csv = pd.read_csv('countries.csv',index_col=0)

# Display the DataFrame
print(df_from_csv)

           Country  Population (M)           Capital
USA  United States             331  Washington, D.C.
CAN         Canada              38            Ottawa
DEU        Germany              84            Berlin
BR          Brazil             213          Brasília
JPN          Japan             126             Tokyo
AUS      Australia              25          Canberra
IND          India            1380         New Delhi

In [29]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {
    'country': names,
    'drives_right': dr,
    'cars_per_cap': cpc
}
# Build a DataFrame cars from my_dict: cars
cars =pd.DataFrame(my_dict)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [33]:
# # Import pandas as pd
# import pandas as pd

# # Import the cars.csv data: cars

# cars =pd.read_csv("cars.csv")
# # Print out cars
# print(cars)

In [35]:
# # Import pandas as pd
# import pandas as pd

# # Fix import by including index_col
# cars = pd.read_csv('cars.csv',index_col=0)

# # Print out cars
# print(cars)

In [37]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index=row_labels

# Print cars again
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45