In [19]:
# Create a DataFrame
data = {
    'Country': ['United States', 'Canada', 'Germany', 'Brazil', 'Japan',
                'Australia', 'India'],
    'Population': [331, 38, 84, 213, 126, 
                       25, 1380],
    'Capital': ['Washington, D.C.', 'Ottawa', 'Berlin', 'Brasília', 'Tokyo',
                'Canberra', 'New Delhi',]
}
# Create the DataFrame
df = pd.DataFrame(data)
df.index=['USA', 'CAN', 'DEU', 'BR', 'JPN',
                   'AUS', 'IND']
# Save the DataFrame to a CSV file
df.to_csv('countries.csv')

# Read the CSV file into a DataFrame
df_from_csv = pd.read_csv('countries.csv',index_col=0)

# Display the DataFrame
print(df_from_csv)

           Country  Population           Capital
USA  United States         331  Washington, D.C.
CAN         Canada          38            Ottawa
DEU        Germany          84            Berlin
BR          Brazil         213          Brasília
JPN          Japan         126             Tokyo
AUS      Australia          25          Canberra
IND          India        1380         New Delhi

In [21]:
# column access
df['Country']

USA    United States
CAN           Canada
DEU          Germany
BR            Brazil
JPN            Japan
AUS        Australia
IND            India
Name: Country, dtype: object

In [23]:
type(df["Country"])

pandas.core.series.Series

In [25]:
df[['Country']]

           Country
USA  United States
CAN         Canada
DEU        Germany
BR          Brazil
JPN          Japan
AUS      Australia
IND          India

In [27]:
type(df[["Country",]])

pandas.core.frame.DataFrame

In [29]:
df[["Country","Population"]]

           Country  Population
USA  United States         331
CAN         Canada          38
DEU        Germany          84
BR          Brazil         213
JPN          Japan         126
AUS      Australia          25
IND          India        1380

In [31]:
# Row Access[]
df[1:4]

     Country  Population   Capital
CAN   Canada          38    Ottawa
DEU  Germany          84    Berlin
BR    Brazil         213  Brasília

In [33]:
# Discussion[]
# square brackets:limited functionality
# ideally ->2D NumPy arrays,my_array[rows,columns]
# pandas->loc(label-based),iloc(integer position-based)

In [43]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
# Set the index to the 'Name' column
df.set_index('Name', inplace=True)

# Access using .loc (label-based)
print(df.loc['Alice'])

Age           25
City    New York
Name: Alice, dtype: object

In [45]:
# Access using .iloc (integer position-based)
print(df.iloc[1])

Age              30
City    Los Angeles
Name: Bob, dtype: object

In [49]:
# Access using .loc (label-based) Row Access
print(df.loc[['Alice']])

       Age      City
Name
Alice   25  New York

In [51]:
print(df.loc[['Alice', 'Bob', 'Charlie']])

         Age         City
Name
Alice     25     New York
Bob       30  Los Angeles
Charlie   35      Chicago

In [55]:
# Row and Column
print(df.loc[['Alice', 'Bob', 'Charlie'],["Age"]])

         Age
Name
Alice     25
Bob       30
Charlie   35

In [57]:
# Row and Column
print(df.loc[['Alice', 'Bob', 'Charlie'],["Age","City"]])

         Age         City
Name
Alice     25     New York
Bob       30  Los Angeles
Charlie   35      Chicago

In [59]:
# Column

print(df.loc[:,["Age"]])

         Age
Name
Alice     25
Bob       30
Charlie   35

In [61]:
# # Recap
# ->square brackets
# .column access df[["Age","City"]]
# .Row access only through slicing df[1:4]

# ->loc(label-based)
# .Row Access df.loc[['Alice', 'Bob', 'Charlie']]
# .Column Access df.loc[:,["Age"]]
# .Row and column Access print(df.loc[['Alice', 'Bob', 'Charlie'],["Age","City"]])

In [65]:
# Row Access iloc
print(df.iloc[[1]])

      Age         City
Name
Bob    30  Los Angeles

In [67]:
# Row Access iloc
print(df.iloc[[1,2]])

         Age         City
Name
Bob       30  Los Angeles
Charlie   35      Chicago

In [73]:
# Row and Coumn
print(df.iloc[[0,1,2],[0]])

         Age
Name
Alice     25
Bob       30
Charlie   35

In [77]:
# Coumn
print(df.iloc[:,[0,1]])

         Age         City
Name
Alice     25     New York
Bob       30  Los Angeles
Charlie   35      Chicago

In [81]:
# # Import cars data
# import pandas as pd
# cars = pd.read_csv('cars.csv', index_col = 0)
# # single bracket version gives a Pandas Series,
# # the double bracket version gives a Pandas DataFrame.
# # Print out country column as Pandas Series
# print(cars["country"])

# # Print out country column as Pandas DataFrame
# print(cars[["country"]])
# # Print out DataFrame with country and drives_right columns
# print(cars[['country','drives_right']])

In [83]:
# # Import cars data
# import pandas as pd
# cars = pd.read_csv('cars.csv', index_col = 0)

# # Print out observation for Japan
# japan_series = cars.loc['JPN'] 
# print(japan_series)

# # Print out observations for Australia and Egypt
# australia_egypt_df = cars.loc[['AUS', 'EG']]  
# print(australia_egypt_df)

In [85]:
# # Import cars data
# import pandas as pd
# cars = pd.read_csv('cars.csv', index_col = 0)

# # Print out drives_right value of Morocco
# print(cars.loc['MOR', 'drives_right'])


# # Print sub-DataFrame
# print(cars.loc[['RU', 'MOR'], ['country', 'drives_right']])

In [ ]:
# # Import cars data
# import pandas as pd
# cars = pd.read_csv('cars.csv', index_col = 0)

# # Print out drives_right column as Series

# print(cars['drives_right'])
# # Print out drives_right column as DataFrame
# print(cars[['drives_right']])

# # Print out cars_per_cap and drives_right as DataFrame

# print(cars[['cars_per_cap', 'drives_right']])