In [1]:
# Loop Data Structures Part 1

In [3]:
# Dictionary
# for var in seq : expression
world ={"nepal":32,"algeria":23,"India":35}
for key,value in world :
    print(key + "--" + str(value))

ValueError: too many values to unpack (expected 2)

In [5]:
# alternative correct way
world ={"nepal":32,"algeria":23,"India":35}
for key,value in world.items() :
    print(key + "--" + str(value))

nepal--32
algeria--23
India--35

In [9]:
# Numpy Arrays
# syntax: for var in seq: expression

In [13]:
import numpy as np
np_height =np.array([1.73,1.68,1.71,1.89,1.79])
np_weight =np.array([15.73,15.68,14.71,17.89,13.79])
bmi =np_weight /np_height ** 2
for val in bmi :
    print(val)

5.255771993718467
5.555555555555556
5.030607708354708
5.008258447411887
4.303860678505664

In [15]:
# 2D Numpy Arrays
import numpy as np
np_height =np.array([1.73,1.68,1.71,1.89,1.79])
np_weight =np.array([15.73,15.68,14.71,17.89,13.79])
bmi =np.array([np_weight ,np_height])
for val in bmi :
    print(val)

[15.73 15.68 14.71 17.89 13.79]
[1.73 1.68 1.71 1.89 1.79]

In [17]:
# to get every element in an array
import numpy as np
np_height =np.array([1.73,1.68,1.71,1.89,1.79])
np_weight =np.array([15.73,15.68,14.71,17.89,13.79])
combine_array =np.array([np_weight ,np_height])
for val in np.nditer(combine_array):
    print(val)

15.73
15.68
14.71
17.89
13.79
1.73
1.68
1.71
1.89
1.79

In [19]:
# recap
# . dictionary -> for key,val in my_dict.items():
# .Numpy array -> for val in np.nditer(my_array):

In [21]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for x,y in europe.items():
    print("the capital of "+ x +" is " +y)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [27]:
# # Import numpy as np
# import numpy as np

# # For loop over np_height
# for x in np.nditer(np_height):
#     print( str(x) + " inches")

# # For loop over np_baseball
# for x in np.nditer(np_baseball):
#     print(x)