In [1]:
# Filtering pandas DataFrames
# select countries with area over 8 million km
# 3 steps
# 1.select the area column
# 2.Do comparison on area column
# 3.use result to select countries

In [5]:
import pandas as pd

# Create a dictionary with country names, populations in millions, and capitals
data = {
    'Country': ['USA', 'Canada', 'Germany', 'Brazil', 'Japan'],
     'area': [8.56, 17.10, 3.284, 9.34, 1.26 ],
    'Population': [331, 38, 84, 213, 126],
    'Capital': ['Washington', 'Ottawa', 'Berlin', 'Brasília', 'Tokyo']
}

# Create the DataFrame
brics = pd.DataFrame(data)

# Display the DataFrame
print(brics["area"])

0     8.560
1    17.100
2     3.284
3     9.340
4     1.260
Name: area, dtype: float64

In [7]:
# alternative
brics.loc[:,"area"]

0     8.560
1    17.100
2     3.284
3     9.340
4     1.260
Name: area, dtype: float64

In [13]:
brics.iloc[:,1]

0     8.560
1    17.100
2     3.284
3     9.340
4     1.260
Name: area, dtype: float64

In [19]:
# step 2 : compare
is_huge=brics["area"] > 8

In [21]:
# step 3: Subset Df
is_huge

0     True
1     True
2    False
3     True
4    False
Name: area, dtype: bool

In [23]:
brics[is_huge]

  Country   area  Population     Capital
0     USA   8.56         331  Washington
1  Canada  17.10          38      Ottawa
3  Brazil   9.34         213    Brasília

In [25]:
is_huge=brics["area"] > 8
brics[is_huge]

  Country   area  Population     Capital
0     USA   8.56         331  Washington
1  Canada  17.10          38      Ottawa
3  Brazil   9.34         213    Brasília

In [27]:
brics[brics["area"] > 8]

  Country   area  Population     Capital
0     USA   8.56         331  Washington
1  Canada  17.10          38      Ottawa
3  Brazil   9.34         213    Brasília

In [33]:
# boolean operators
import numpy as np
np.logical_and(brics["area"]>8,brics["area"]<10)

0     True
1    False
2    False
3     True
4    False
Name: area, dtype: bool

In [35]:
brics[np.logical_and(brics["area"]>8,brics["area"]<10)]

  Country  area  Population     Capital
0     USA  8.56         331  Washington
3  Brazil  9.34         213    Brasília

In [39]:
# # Import cars data
# import pandas as pd
# cars = pd.read_csv('cars.csv', index_col = 0)

# # Extract drives_right column as Series: dr
# dr=cars["drives_right"]

# # Use dr to subset cars: sel
# sel = cars[dr]

# # Print sel
# print(sel)

In [41]:
# # Import cars data
# import pandas as pd
# cars = pd.read_csv('cars.csv', index_col = 0)

# # Convert code to a one-liner
# # dr = cars['drives_right']
# # sel = cars[dr]
# sel = cars[cars['drives_right']]
# # Print sel
# print(sel)

In [45]:
# # Import cars data
# import pandas as pd
# cars = pd.read_csv('cars.csv', index_col = 0)

# # Create car_maniac: observations that have a cars_per_cap over 500
# cpc = cars['cars_per_cap']
# many_cars = cpc > 500

# car_maniac = cars[many_cars]
# # Print car_maniac
# print(car_maniac)

In [49]:
# # Import cars data
# import pandas as pd
# cars = pd.read_csv('cars.csv', index_col = 0)

# # Import numpy, you'll need this
# import numpy as np

# # Create medium: observations with cars_per_cap between 100 and 500

# medium = cars[(cars['cars_per_cap'] >= 100) & (cars['cars_per_cap'] <= 500)]


# # Print medium
# print(medium)