In [3]:
# Methods ->Function that belong to objects

In [5]:
# object type->str,float,list
# capitalize(),replace() are the example of str  methods
# bit_length(),conjugate() are the example of float methods
# index(),count() are the example of list methods

In [37]:
# list methods

#index()
# syntax list.index(elmnt)
# value->Required. Any type (string, number, list, tuple, etc.). The value to search for.
# index() method only returns the first occurrence of the value.

list = ["h", "b", "a", "c", "f", "d", "e", "g"]
list.index("c")

3

In [13]:
#count()
# syntax list.count(value)
# elmnt->Required. Any type (string, number, list, etc.). The element to search for
# index() method Returns the number of elements with the specified value

points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
x= points.count(9)
print(x)

2

In [25]:
#str methods
name ="rubina"
name

'rubina'

In [27]:
name.capitalize()

'Rubina'

In [29]:
name.replace("rubina","hima")

'hima'

In [31]:
#Object have methods associated depending on type

In [33]:
#work
name.replace("rubina","hima")

'hima'

In [35]:
# but list object has no attribute replace

points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
points.replace(4,3)

AttributeError: 'list' object has no attribute 'replace'

In [41]:

name = "rubina"
name.index("i")

3

In [45]:
#method 2
points = ['a', 4, 'b', 9, 'c', 8, 9, 3, 1]
points.append('i')
points

['a', 4, 'b', 9, 'c', 8, 9, 3, 1, 'i']

In [47]:
#summary
#method : call functions on objects
#like
points = ['a', 4, 'b', 9, 'c', 8, 9, 3, 1]
points.index(9)

3

In [49]:
# string to experiment with: place
place = "poolhouse"

# Use upper() on place
place_up = place.upper()

# Print out place and place_up
print(place)
print(place_up)


# Print out the number of o's in place
print(place.count("o"))

poolhouse
POOLHOUSE
3

In [51]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print out the index of the element 20.0
print(areas.index(20.0))

# Print out how often 9.50 appears in areas
print(areas.count(9.50))

2
1

In [55]:
# .append(), that adds an element to the list it is called on,
# .remove(), that removes the first element of a list that matches the input, and
# .reverse(), that reverses the order of the elements in the list it is called on.

In [57]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.45)


# Print out areas
print(areas)

# Reverse the orders of the elements in areas
areas.reverse()

# Print out areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.45]
[15.45, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]